body {
    margin: 0em;
    padding: 0em;
    font-size: x-large;
    text-align: center;
}

.page {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 10% 1fr 30% 1fr 1fr 1fr 1fr;
}

.menu {
    display: grid;
    grid-row: 1;
    background-color: rgb(89, 149, 218);
}

.header {
    display: grid;
    grid-row: 2;
    background-color: rgb(178, 214, 255);
}

.content {
    display: grid;
    grid-row: 3;
    background-color: rgb(234, 237, 240);
}

.sign-up {
    display: grid;
    grid-row: 4;
    background-color: rgb(215, 233, 254);
}

.feature-1 {
    display: grid;
    grid-row: 5;
    background-color: rgb(245, 207, 142);
}

.feature-2 {
    display: grid;
    grid-row: 6;
    background-color: rgb(240, 154, 157);
}

.feature-3 {
    display: grid;
    grid-row: 7;
    background-color: rgb(200, 198, 250);
}